---
import TikTokVideo from '../../components/TikTokVideo.astro'
import { TIKTOK_VIDEOS } from '../../constants/tiktok-videos'
import MainLayout from '../../layouts/MainLayout.astro'
import FilterableContent from '../../components/FilterableContent.astro'

// Definir las categorías base y obtener las categorías únicas de los videos
const categoriasBase = ['Finanzas', 'Inversiones', 'Blockchain']
const allCategories = Array.from(
  new Set(
    TIKTOK_VIDEOS.flatMap((video) => {
      const categories = video.category || []
      return Array.isArray(categories) ? categories : [categories]
    })
  )
)
const categories = ['Todos', ...new Set([...categoriasBase, ...allCategories])]

// Definir los videos de TikTok
const videos = TIKTOK_VIDEOS
---

<MainLayout>
  <main class='container mx-auto px-4 py-8'>
    <FilterableContent
      categories={categories}
      containerId='videos-container'
      searchPlaceholder='Buscar videos...'
    >
      {
        videos.map((video) => {
          const categories = video.category || []
          const categoryArray = Array.isArray(categories)
            ? categories
            : [categories]
          return (
            <div
              data-categories={JSON.stringify(categoryArray)}
              class='mb-8'
            >
              <TikTokVideo
                url={video.url}
                title={video.title}
                category={categoryArray}
              />
            </div>
          )
        })
      }
    </FilterableContent>
  </main>
</MainLayout>
