---
import TikTokVideo from '../components/TikTokVideo.astro'
import BlogPost from '../components/BlogPost.astro'
import SocialLinks from '../components/SocialLinks.astro'
import { TIKTOK_VIDEOS } from '../constants/tiktok-videos'
import MainLayout from '../layouts/MainLayout.astro'
import { getCollection } from 'astro:content'
import { supabase } from '../db/supabase'

const videos = TIKTOK_VIDEOS

// Obtener los 칰ltimos 3 posts
const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3)

const { data, error } = await supabase.from('todos').select('*')
console.log('游 ~ data:', data)
---

<MainLayout
  title='Sebastian Pati침o Caro | Blog'
  description='Blog personal sobre finanzas, inversiones y blockchain. Aprende sobre educaci칩n financiera, criptomonedas y estrategias de inversi칩n con contenido pr치ctico y actualizado.'
>
  <main class='container mx-auto px-4 sm:px-6 lg:px-8 py-6 sm:py-8 lg:py-12'>
    <!-- Secci칩n Hero -->
    <section class='text-center mb-8 sm:mb-12 lg:mb-16'>
      <h1 class='text-4xl sm:text-5xl lg:text-6xl font-bold mb-3 sm:mb-4'>
        춰Hola! 游녦
      </h1>
      {(<ul>{data && data.map((entry) => <li>{entry.name}</li>)}</ul>)}
      <p
        class='text-lg sm:text-xl lg:text-2xl text-gray-600 max-w-2xl mx-auto px-4'
      >
        Bienvenido a mi espacio digital donde comparto conocimiento sobre
        finanzas, inversiones y blockchain.
      </p>
    </section>

    <!-- Redes Sociales -->
    <SocialLinks />

    <!-- 칔ltimos Posts -->
    <section class='mb-8 sm:mb-12 lg:mb-16 mt-16'>
      <h2 class='text-2xl sm:text-3xl lg:text-4xl font-bold mb-4 sm:mb-6'>
        칔ltimos Posts
      </h2>
      <div
        class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6'
      >
        {
          posts.map((post) => (
            <BlogPost
              title={post.data.title}
              pubDate={post.data.pubDate}
              heroImage={post.data.heroImage || '/default-hero.jpg'}
              slug={post.id}
              categories={
                Array.isArray(post.data.category)
                  ? post.data.category
                  : [post.data.category]
              }
            />
          ))
        }
      </div>
    </section>

    <!-- 칔ltimos Videos -->
    <section class='mb-8 sm:mb-12 lg:mb-16'>
      <h2 class='text-2xl sm:text-3xl lg:text-4xl font-bold mb-4 sm:mb-6'>
        칔ltimos Videos
      </h2>
      <section
        class='grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-4 sm:gap-6'
        id='videos-container'
      >
        {
          videos.map((video) => (
            <TikTokVideo
              url={video.url}
              title={video.title}
              category={video.category}
            />
          ))
        }
      </section>
    </section>
  </main>
</MainLayout>
